@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300&family=Montserrat:wght@400;600&family=Playfair+Display:wght@400;500;600&display=swap');

:root {
    --footer-bg: black;
    --bgcolor: white;
    --textcolor1: black;
    --textcolor1lighter: #1a1a1a;
    --textcolor2: white;
    --accent1: #2e6b3e;
    --accent1lighter: #3b8a50;
    --accent1faint: #e4f8e9;
    --offwhite: #d2d2d2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--bgcolor);
}
body > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body > * > * {
    max-width: 1200px;
    width: 100%;
    padding: 0 1.5rem 2.5rem 1.5rem;
}

/* TEMPLATES */
/* fonts for titles */
.serif {
    font-family: 'Playfair Display', serif;
    /* font-style: italic; */
    font-weight: 500;
    font-size: 36px;
}

/* For buttons and stuff */
.sans-serif {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--textcolor1);
}

/* for most body text */
.body-text {
    font-family: 'Merriweather', Georgia, serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--textcolor1lighter);
}

/* BUTTON TEMPLATE */
.button {
    background-color: black;
    color: white;
    padding: 12px 15px;
    transition: background 0.2s ease, color 0.2s ease, transform 0.15s ease;

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    text-decoration: none;
    width: fit-content;
    flex-shrink: 0;
}
.button:hover {
    background-color: var(--accent1);
}

/* HORIZONTAL LINE TEMPLATE */
.line {
    display: inline;
    width: 100%;
    background-color: var(--textcolor1);
    height: 1px;
    margin: 1.5rem 0;
    flex-shrink: 1;
}

/* HORIZONTAL LINE WITH BUTTON TEMPLATE */
.line-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    width: 100%;
}

/* OTHER TEMPLATES */
.picture-frame {
    background-size: cover;
    background-position: center;
}